#app {
    font-family: "Tahoma", sans-serif;
    font-weight: normal;
    width: 360px;
    margin: 0 auto;
    padding: 0;
}
.centered {
    text-align: center;
}
.button-container {
    text-align: center;
}
.warn {
    color: #ff0000;
}