#app {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  width: 360px;
  margin: 0 auto;
  padding: 0;
  color: #000000
}
.centered {
  text-align: center;
}
.button-container {
  text-align: center;
}
.warn {
  color: #ff0000;
}
